body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: 1px solid #516EFF;
}
.form-container a{
    text-decoration: none;
}
.form-container h2{
    color: #18181B;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #18181B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 60%;
    background-color: #0056b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.btn:hover {
    background-color: #004494;
}

.additional-links {
    margin-top: 20px;
    text-align: center;
}

.additional-links a {
    color: #BCBCBC;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}
span{
    color: #FFD700;
}
p{
    color: #BCBCBC;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.additional-links p a{
    color:#18181B;
}
